div.footer
    div.navbar.navbar-inner.navbar-fixed-bottom
        div.container
            ul.pull-right
                li
                    p.small
                    | Written by Urvesh | David | Arthur
             // jQuery (necessary for Bootstrap's JavaScript plugins)
script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
// Include all compiled plugins (below), or include individual files as needescript(src='js/bootstrap.min.js')
script(src='bootstrap-sass/assets/javascripts/bootstrap.js')
script(src='bootstrap-sass/assets/javascripts/bootstrap-sprockets.js')
script(src='http://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js')
script(src='angular/angular.js')
script(src='angular-route/angular-route.js')
script(src='angular-bootstrap/ui-bootstrap-tpls.js')
script(src='angular-messages/angular-messages.js')
script(src='/javascripts/app.js')
script(src='/javascripts/controllers.js')
script(src='/assets/javascript/bundle.js')

