/*Here the area for the create project and user inside the dashboard*/

.jumbotron {
  background-color: #00a0d3;
  color: #ffffff;
  span{
    border-bottom: 1px solid #FFFFFF;
  }
}
.create-project-link {
  font-size: 2.1em;


}

.main-dashboard-body {
  margin-top: 40px;
}


.add-project-add-user {
  border: 1px solid #00a0d3;
  margin-bottom: 2rem;
  padding: 30px 0;
  h4 {
    text-align: center;
    color: #00a0d3;
    text-transform: uppercase;
  }
  .btn-primary {
    background-color: #00a0d3;
    padding: 10px 0;
    &:hover{
      color: #00a0d3;
      background: $btn-default-color;
    }
  }
}