doctype html
html.no-js(lang='en')
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(href='http://fonts.googleapis.com/css?family=PT+Sans:400,700', rel='stylesheet', type='text/css')
        link(rel='stylesheet', href='public/css/reset.css')
        // CSS reset
        link(rel='stylesheet', href='/scss/vendor/angular/angular-csp.css')
        // angular bootstrap reset
        link(rel='stylesheet', href='/scss/vendor/angular-bootstrap/ui-bootstrap-csp.css')
        // angular bootstrap reset
        link(rel='stylesheet', href='/css/style.css')
        // Gem style
        script(src='/js/modernizr.js')
        // Modernizr
        title Log In & Sign Up Form
    body
        header(role='banner')
            #cd-logo
                a(href='#0')
                    img(src='/img/cd-logo.svg', alt='Logo')
            nav.main-nav
                ul
                    // insert more links here
                    li
                        a.cd-signup(href='/dashboard') Dashboard
                    li
                        a.cd-signup(href='/profile') Profile
                    li
                        a.cd-signup(href='/home') Log Out
        .main
            // Main
            .container
                .row
                    .col-md-3
                        // Left
                        strong Tools
                        hr
                        ul.nav.nav-pills.nav-stacked
                            li.nav-header
                            li.active
                                a(href='/home', title='The Bootstrap Playground', target='ext') Home
                            li
                                a(href='#') Bootstrap 3
                            li.divider
                            li
                                a(href='#', title='Bootstrap 3 Panel') Panels
                            li
                                a(href='#', title='Bootstrap 3 Icons') Glypicons
                            li
                                a(href='#', title='Bootstrap 3 ListGroup') List Groups
                            li
                                a(href='#') GitHub
                            li
                                a(href='#', title='Bootstrap 3 Slider') Carousel
                            li
                                a(href='#') Layout
                    // /span-3
                    .col-md-9
                        // Right
                        a(href='#')
                            strong
                                i.fa.fa-dashboard
                                |  My Dashboard
                        a.btn.btn-primary.pull-right(title='Add Widget', data-toggle='modal', href='#addWidgetModal')
                            i.fa.-fa-plus-circle
                            |  Add Widget
                        hr
                        .row
                            .col-md-6
                                .well
                                    | Inbox Messages
                                    span.badge.pull-right 3
                                .panel
                                    .panel-heading
                                        i.fa.fa-chevron-up
                                        i.fa.fa-wrench.pull-right
                                        |  Quick Start
                                    .panel-content
                                        .btn-group.btn-group-justified
                                            a.btn.btn-primary.col-sm-3(href='#')
                                                i.fa.fa-plus-circle
                                                p Service
                                            a.btn.btn-primary.col-sm-3(href='#')
                                                i.fa.fa-cloud
                                                p Cloud
                                            a.btn.btn-primary.col-sm-3(href='#')
                                                i.fa.fa-cog
                                                p Tools
                                            a.btn.btn-primary.col-sm-3(href='#')
                                                i.fa.fa-question
                                                p Help
                                    // /panel content
                                // /panel
                                .panel.panel-default
                                    .panel-heading Report
                                    table.table.table-striped
                                        thead
                                            tr
                                                th Col 1
                                                th Col 2
                                                th Col 3
                                        tbody
                                            tr
                                                td 45
                                                td 2.45%
                                                td Direct
                                            tr
                                                td 289
                                                td 56.2%
                                                td Referral
                                            tr
                                                td 98
                                                td 25%
                                                td Type
                                            tr
                                                td ..
                                                td ..
                                                td ..
                                            tr
                                                td ..
                                                td ..
                                                td ..
                                // /panel
                                .panel.panel-default
                                    .panel-heading Charts
                                    .panel-body
                                        img.img-responsive(src='http://www.wired.com/playbook/wp-content/uploads/2012/08/data-tracking-run-chart.jpg')
                                // /panel
                            .col-md-6
                                .panel.panel-default
                                    .panel-heading Bootstrap 3
                                    .panel-body
                                        | This is a dashboard-style layout that uses Bootstrap 3 RC. You can follow the ongoing pre-release discussions about Bootstrap 3.0 on this
                                        a(href='https://github.com/twitter/bootstrap/pull/6342') GitHub thread
                                        | .
                                        br
                                        br
                                        |                                 This Bootstrap 3 dashboard layout is compliments of
                                        a(href='#') Bootply
                                        | .
                                .panel.panel-default
                                    .panel-heading
                                        .panel-title
                                            i.fa.fa-chevron-up
                                            i.fa.fa-wrench.pull-right
                                            |                                     Form
                                    .panel-body
                                        form.form.form-vertical
                                            .control-group
                                                label Name
                                                .controls
                                                    input.form-control(type='text', placeholder='Enter Name')
                                            .control-group
                                                label Label
                                                .controls
                                                    input.form-control(type='password', placeholder='Password')
                                            .control-group
                                                label Text
                                                .controls
                                                    textarea.form-control
                                            .control-group
                                                label Select
                                                .controls
                                                    select.form-control
                                                        option options
                                            .control-group
                                                label
                                                .controls
                                                    button.btn.btn-primary(type='submit')
                                                        | Post
                                    // /panel content
                                // /panel
                                .panel.panel-default
                                    .panel-heading
                                        .panel-title Engagement
                                    .panel-body.pull-center
                                        img.img-circle(src='http://placehold.it/90X90/CC2222/FFF')
                                        img.img-circle(src='http://placehold.it/90X90/11CC22/FFF')
                                        img.img-circle(src='http://placehold.it/90X90/EEEEEE/222')
                                // /panel
                                i.icon-bar-chart.icon-3x
                                i.icon-plus.icon-3x
                                i.icon-facebook.icon-3x
                                i.icon-beaker.icon-3x
                                i.icon-twitter.icon-3x
                            // /col-span-6
                        // /row
                    // /col-span-9
            // /Main
            footer
                | This Bootstrap 3 dashboard layout is compliments of Bootply.com
                a(href='http://www.bootply.com/61526')
                    strong Edit on Bootply
            #addWidgetModal.modal
                .modal-dialog
                    .modal-content
                        .modal-header
                            button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
                            h4.modal-title Add Widget
                        .modal-body
                            p Add a widget stuff here..
                        .modal-footer
                            a.btn(href='#', data-dismiss='modal') Close
                            a.btn.btn-primary(href='#') Save changes
                    // /.modal-content
                // /.modal-dalog
            // /.modal
        script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js')
        script(src='/scss/vendor/bootstrap-sass/assets/javascripts/bootstrap.js')
        script(src='/scss/vendor/bootstrap-sass/assets/javascripts/bootstrap-sprockets.js')
        script(src='/scss/vendor/angular/angular.js')
        script(src='/scss/vendor/angular-bootstrap/index.js')
        script(src='/js/main.js')
        // Gem jQuery
