doctype html
html.no-js(lang='en')
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(href='http://fonts.googleapis.com/css?family=PT+Sans:400,700', rel='stylesheet', type='text/css')
        link(rel='stylesheet', href='/css/reset.css')
        // CSS reset
        link(rel='stylesheet', href='/scss/vendor/angular/angular-csp.css')
        // angular bootstrap reset
        link(rel='stylesheet', href='/scss/vendor/angular-bootstrap/ui-bootstrap-csp.css')
        // angular bootstrap reset
        link(rel='stylesheet', href='/css/style.css')
        // Gem style
        script(src='/js/modernizr.js')
        // Modernizr
        title Log In & Sign Up Form
    body
        header(role='banner')
            #cd-logo
                a(href='#0')
                    img(src='/img/cd-logo.svg', alt='Logo')
            nav.main-nav
                ul
                    // inser more links here
                    li
                        a.cd-signup(href='/dashboard') Dashboard
                    li
                        a.cd-signup(href='/home') Log Out
        .main
            .container
                .row
                    .col-md-5.toppad.pull-right.col-md-offset-3
                        p.text-info May 05,2014,03:00 pm
                    .col-xs-12.col-sm-12.col-md-6.col-lg-6.col-xs-offset-0.col-sm-offset-0.col-md-offset-3.col-lg-offset-3.toppad
                        .panel.panel-info
                            .panel-heading
                                h3.panel-title Sheena Kristin A.Eschor
                            .panel-body
                                .row
                                    .col-md-3.col-lg-3(align='center')
                                        img.img-circle.img-responsive(alt='User Pic', src='http://babyinfoforyou.com/wp-content/uploads/2014/10/avatar-300x300.png')
                                    .col-xs-10.col-sm-10.hidden-md.hidden-lg
                                        br
                                        dl
                                            dt DEPARTMENT:
                                            dd Administrator
                                            dt HIRE DATE
                                            dd 11/12/2013
                                            dt DATE OF BIRTH
                                            dd 11/12/2013
                                            dt GENDER
                                            dd Male
                                    .col-md-9.col-lg-9
                                        table.table.table-user-information
                                            tbody
                                                tr
                                                    td Department:
                                                    td Programming
                                                tr
                                                    td Hire date:
                                                    td 06/23/2013
                                                tr
                                                    td Date of Birth
                                                    td 01/24/1988
                                                tr
                                                tr
                                                    td Gender
                                                    td Male
                                                tr
                                                    td Home Address
                                                    td Metro Manila,Philippines
                                                tr
                                                    td Email
                                                    td
                                                        a('mailto:info@support.com') info@support.com
                                                td Phone Number
                                                td
                                                    | 123-4567-890(Landline)
                                                    br
                                                    br
                                                    | 555-4567-890(Mobile)
                                        a.btn.btn-primary('#') My Sales Performance
                                        a.btn.btn-primary('#') Team Sales Performance
                            .panel-footer
                                a.btn.btn-sm.btn-primary(data-original-title='Broadcast Message', data-toggle='tooltip', type='button')
                                    i.fa.fa-envelope
                                span.pull-right
                                    a.btn.btn-sm.btn-warning(href='edit.html', data-original-title='Edit this user', data-toggle='tooltip', type='button')
                                        i.fa.fa-edit
                                    a.btn.btn-sm.btn-danger(data-original-title='Remove this user', data-toggle='tooltip', type='button')
                                        i.fa.fa-remove
        script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js')
        script(src='/scss/vendor/jquery/dist/jquery.js')
        script(src='/scss/vendor/bootstrap-sass/assets/javascripts/bootstrap.js')
        script(src='/scss/vendor/bootstrap-sass/assets/javascripts/bootstrap-sprockets.js')
        script(src='/scss/vendor/angular/angular.js')
        script(src='/scss/vendor/angular-bootstrap/index.js')
        script(src='/js/main.js')
        // Gem jQuery
