<div class="row page-header">
    <h3 class="text-center">Login</h3>

    <form class="cd-form col-sm-6 col-sm-offset-3" ng-submit="submit()">
        <p class="fieldset">
            <label class="image-replace cd-email"></label>
            <input class="full-width has-padding has-border" type="email" ng-model="username" placeholder="E-mail">
            <!--<span class="cd-error-message">Error message here!</span>-->
        </p>

        <p class="fieldset">
            <label class="image-replace cd-password"></label>
            <input class="full-width has-padding has-border" type="password" ng-model="password" placeholder="Password">
            <!--<a href="#" class="hide-password">Hide</a>-->
            <!--<span class="cd-error-message">Error message here!</span>-->
        </p>

        <!--<p class="fieldset">-->
            <!--<input type="checkbox" id="remember-me" checked>-->
            <!--<label for="remember-me">Remember me</label>-->
        <!--</p>-->

        <p class="fieldset">
            <input class="full-width" type="submit" value="Login">
        </p>
    </form>
</div>