<div class="row page-header">
    <h3 class="text-center">Reset Password</h3>
    
    <p class="cd-form-message">Lost your password? Please enter your username. You will receive a link to create a new password.</p>

    <form name="passwordform" novalidate class="cd-form col-sm-6 col-sm-offset-3" ng-submit="submit()">

		<div ng-messages="passwordform.username.$error">
			<span ng-message="required">Required</span>
		</div>

		<p class="fieldset fixMargin">
			<label class="image-replace cd-username"></label>
			<input class="full-width has-padding has-border" ng-model="username" name="username" type="text" placeholder="Username" required>
		</p>

		<p class="fieldset">
			<input class="full-width has-padding" type="submit" value="Reset password" ng-disabled="passwordform.$invalid">
		</p>
		</form>
</div>