<div class="row page-header">
    <h3 class="text-center">Reset Password</h3>
    
    <p class="cd-form-message">Lost your password? Please enter your username. You will receive a link to create a new password.</p>

    
    <form class="cd-form col-sm-6 col-sm-offset-3" ng-submit="submit()">
			<p class="fieldset">
				<label class="image-replace cd-username"></label>
				<input class="full-width has-padding has-border" id="reset-email" type="text" placeholder="Username">
				<span class="cd-error-message">Error message here!</span>
			</p>

			<p class="fieldset">
				<input class="full-width has-padding" type="submit" value="Reset password">
			</p>
		</form>
</div>