<div class="row page-header">
    <h3 class="text-center">Forgot Username</h3>
    <p class="cd-form-message">Forgot your username? Please enter your E-mail address.</p>
    <form class="cd-form col-sm-6 col-sm-offset-3">
        <p class="fieldset">
            <label for="reset-username" class="image-replace cd-email">Username</label>
            <input id="reset-username" type="email" placeholder="E-mail" class="full-width has-padding has-border"/><span class="cd-error-message">Error message here!</span>
        </p>
        <p class="fieldset">
            <input type="submit" value="Email Username" class="full-width has-padding"/>
        </p>
    </form>
</div>