<div class="row page-header">
    <h3 class="text-center">Login</h3>

    <!--<form action="/api/login" method="post" class="cd-form col-sm-6 col-sm-offset-3">-->
    <form novalidate name="loginForm" class="cd-form col-sm-6 col-sm-offset-3" ng-submit="submit()">
        <p class="fieldset">
            <label class="image-replace cd-username"></label>
            <input class="full-width has-padding has-border" type="text" name="username" ng-model="username" placeholder="Username" required>
            <span>
                <a href='/forgotusername'>Forgot username?</a>
            </span>
            <!--<span class="cd-error-message">Error message here!</span>-->
        </p>

        <p class="fieldset">
            <label class="image-replace cd-password"></label>
            <input class="full-width has-padding has-border" type="password" name="password" ng-model="password" placeholder="Password" required>
            <span>
                <a href='/forgotpassword'>Forgot password?</a>
            </span>
            <!--<a href="#" class="hide-password">Hide</a>-->
            <!--<span class="cd-error-message">Error message here!</span>-->
        </p>

        <!--<p class="fieldset">-->
            <!--<input type="checkbox" id="remember-me" checked>-->
            <!--<label for="remember-me">Remember me</label>-->
        <!--</p>-->

        <p class="fieldset">
            <input class="full-width" type="submit" value="Login" ng-disabled="loginForm.$invalid" ng-class="{ 'disabled' : loginForm.$invalid}">
        </p>
    </form>
</div>