<div>
    <h3 class="text-center">Manage your users</h3>
    <p>
        Signup link: localhost:8080/{{user.username}}/signup
    </p>
    <div class="row">
        <div class="col-sm-6">
            <h4>Users <strong>not</strong> within your organization</h4>
            <table class="table table-striped">
                <thead>
                    <th>Username</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Add?</th>
                </thead>
                <tbody>
                    <tr ng-repeat="user in otherUsers">
                        <td>{{user.username}}</td>
                        <td>{{user.firstname}}</td>
                        <td>{{user.lastname}}</td>
                        <td>
                            <button ng-click="addUser(user.email)" class="btn btn-primary">Add</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-sm-6">
            <h4>Users within your organization</h4>
            <table class="table table-striped">
                <thead>
                    <th>Username</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Remove?</th>
                </thead>
                <tbody>
                    <tr ng-repeat="user in myUsers">
                        <td>{{user.username}}</td>
                        <td>{{user.firstname}}</td>
                        <td>{{user.lastname}}</td>
                        <td>
                            <button ng-click="removeUser(user.email)" class="btn btn-warning">Remove</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
