<div>
    <h3 class="text-center">Tasks assigned to {{username}}</h3>

    <h5 class="text-center" ng-hide="tasks.length > 0">{{username}} currently has no tasks assigned to him</h5>

    <table class="table table-striped" ng-show="tasks.length > 0">
        <tr>
            <th>Title</th>
            <th>Status</th>
            <th>Description</th>
            <th>Created By</th>
            <th>Created At</th>
            <th>Assigned At</th>
            <th>Due By</th>
        </tr>
        <tr ng-repeat="task in tasks track by $index">
            <td>{{task.title}}</td>
            <td>{{task.status}}</td>
            <td>{{task.description}}</td>
            <td>
                <a href="/users/{{task.created_by}}">{{task.created_by}}</a>
            </td>
            <th>{{task.created_at}}</th>
            <th>{{task.assigned_at}}</th>
            <th>{{task.due_by}}</th>
        </tr>
    </table>

</div>