<div>
    <div class="row">
        <div class="col-sm-4">
            <button ng-click="openTaskModal()" class="btn btn-default">New Task</button>
        </div>
        <div ng-show="selectedTasks.length > 0" class="col-sm-8">
            <button ng-click="updateStatus('new')" class="btn btn-primary">Backlog</button>
            <button ng-click="updateStatus('wip')" class="btn btn-warning">Work in Progress</button>
            <button ng-click="updateStatus('done')" class="btn btn-success">Complete</button>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <h4 class="text-center">Backlog</h4>
            <table class="table table-striped">
                <tr>
                    <th></th>
                    <th>Title</th>
                    <th>Created By</th>
                    <th>Assigned To</th>
                    <!--<th>Description</th>-->
                </tr>
                <tr ng-repeat="task in newTasks track by $index">
                    <th>
                        <input type="checkbox" ng-model="task.selected" ng-change="changeStatus(task)">
                    </th>
                    <td>{{task.title}}</td>
                    <td>
                        <a href="/users/{{task.created_by}}">{{task.created_by}}</a>
                    </td>
                    <td>
                        <a href="/users/{{task.assigned_to}}">{{task.assigned_to}}</a>
                    </td>
                    <!--<td>{{task.description}}</td>-->
                </tr>
            </table>
        </div>
        <div class="col-sm-4">
            <h4 class="text-center">Work in Progress </h4>
            <table class="table table-striped">
                <tr>
                    <th></th>
                    <th>Title</th>
                    <th>Created By</th>
                    <th>Assigned To</th>
                    <!--<th>Description</th>-->
                </tr>
                <tr ng-repeat="task in wipTasks track by $index">
                    <th>
                        <input type="checkbox" ng-model="task.selected" ng-change="changeStatus(task)">
                    </th>
                    <td>{{task.title}}</td>
                    <td>
                        <a href="/users/{{task.created_by}}">{{task.created_by}}</a>
                    </td>
                    <td>
                        <a href="/users/{{task.assigned_to}}">{{task.assigned_to}}</a>
                    </td>
                    <!--<td>{{task.description}}</td>-->
                </tr>
            </table>
        </div>
        <div class="col-sm-4">
            <h4 class="text-center">Completed</h4>
            <table class="table table-striped">
                <tr>
                    <th></th>
                    <th>Title</th>
                    <th>Created By</th>
                    <th>Assigned To</th>
                    <!--<th>Description</th>-->
                </tr>
                <tr ng-repeat="task in doneTasks track by $index">
                    <th>
                        <input type="checkbox" ng-model="task.selected" ng-change="changeStatus(task)">
                    </th>
                    <td>{{task.title}}</td>
                    <td>
                        <a href="/users/{{task.created_by}}">{{task.created_by}}</a>
                    </td>
                    <td>
                        <a href="/users/{{task.assigned_to}}">{{task.assigned_to}}</a>
                    </td>
                    <!--<td>{{task.description}}</td>-->
                </tr>
            </table>
        </div>
    </div>
</div>
<script type="text/ng-template" id="newTaskModal.html">
    <div class="modal-header">
        <h3 class="modal-title text-center">New Task</h3>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="">
                <div class="form-group">
                    <label>Title</label>
                    <input class="form-control" type="text" ng-model="title" placeholder="Task Title">
                </div>
                <div class="form-group">
                    <label>Description</label>
                    <textarea class="form-control" ng-model="description" placeholder="Task Description"></textarea>
                </div>
                <div class="form-group">
                    <label>Assign To</label>
                    <input class="form-control" type="text" ng-model="assigned_to" placeholder="Username">
                </div>
                <div class="form-group">
                    <label>Due By</label>
                    <input class="form-control" type="date" ng-model="due_by">
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
        <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
    </div>
</script>
